astroid==2.9.3
blinker==1.6.2
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
dill==0.3.7
dnspython==2.4.2
eventlet==0.33.3
falcon==3.1.1
Flask==2.0.2
Flask-PyMongo==2.3.0
greenlet==3.0.0
gunicorn==21.2.0
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
mongoengine==0.27.0
packaging==23.2
parso==0.8.3
pika==1.2.0
platformdirs==2.5.0
pymongo==4.0.1
requests==2.27.1
six==1.16.0
toml==0.10.2
tomlkit==0.12.1
urllib3==1.26.8
Werkzeug==2.0.3
wrapt==1.13.3
